.calendar{
  padding: 0;
}
.calendar .btn-default {
  background-color: var(--block-bg-color);
  border: 1px solid var(--block-border-color);
}
.calendar div {
  padding-right: 0;
  padding-left: 0;
}
.c-control { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  padding: 0 20px;
}

.c-table {
  margin-right: 0;
  margin-left: 0;
  border-top: 1px solid var(--block-border2-color);
  padding-bottom: 10px;
}
.c-modal-row {
  margin-bottom: 10px;
}