.calendar{
  width: 75%;
  border: 1px solid dodgerblue;
  background: rgba(0, 0, 0, .8);
  margin: 0 auto;
  border-radius: 5px;
}
.calendar .btn-default {
  color: #fff;
  background-color: #000;
  border-color: dodgerblue;
}
.calendar div {
  padding-right: 0;
  padding-left: 0;
}
.c-control { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  padding: 0 20px;
}
.c-control__info {
  color: #fff;
}
.c-table {
  margin-right: 0;
  margin-left: 0;
  border-top: 1px solid dodgerblue;
  padding-bottom: 10px;
}