.calendar{
  width: 75%;
  border: 1px solid;
  margin: 0 auto;
  border-radius: 5px;
}
.c-control { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  padding: 0 20px;
}
.c-control__info {
  color: black;
}
.c-table {
  margin-right: 0;
  margin-left: 0;
  border-top: 1px solid;
  padding-top: 10px;
}