.App-nav {
    top: 67px;
    background-color: #ffffff;
    height: calc(100% - 67px);
    left: -150px;
    position: fixed;
    width: 150px;
    z-index: 1;
    transition: 0.5s;
}
.App-nav__item {
    border-bottom: 1px solid dodgerblue;
    cursor: pointer;
    padding: 20px;
}
.App-nav__item:hover {
    border-color: #852826;
    color: #852826;
}