.App-nav {
    background-color: #222;
    height: 100%;
    left:0;
    position: fixed;
    top: 60px;
    width: 150px;
    z-index: 1;
}
.App-nav__item {
    border-bottom: 1px solid dodgerblue;
    cursor: pointer;
    padding: 20px;
}
.App-nav__item:hover {
    opacity: 0.5;
}