.App-nav__item {
    border-bottom: 1px solid dodgerblue;
    cursor: pointer;
    padding: 20px;
}
.App-nav__item:hover {
    border-color: var(--main-hover-color);
    color: var(--main-hover-color);
}