.teachers .page-header,
.groups .page-header{
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin-bottom: 20px;
}
.search {
    border: 1px solid purple;
    border-radius: 5px;
    padding: 2px 0;
    padding-left: 5px;
}
.search:focus {
    outline:0;
    border: 1px solid black;
}