:root {
	--main-bg-color: #355C7D;  /* fallback for old browsers */
	--main-bg-color: -webkit-linear-gradient(to bottom, #355C7D, #6C5B7B, #C06C84);  /* Chrome 10-25, Safari 5.1-6 */
	--main-bg-color: linear-gradient(to bottom, #355C7D, #6C5B7B, #C06C84); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	--secondary-bg-color: #20202A;
	--main-title-color: #000000;
	--main-color: #0076b1;
	--main-header-color: #fefefe;
	--main-hover-color: #890377;
	--block-bg-color: #fefefe;
	--block-border-color: #f0f0f0;
	--block-bg2-color: #f1ead6;
	--block-border2-color: #EBE1C7;
}

.App {
	text-align: center;
}
  
.App-title {
	font-size: 1.5em;
	text-align: left;
	color: var(--main-title-color);
}
  
.App-main{
	margin-top: 67px;
	min-height: calc(100vh - 67px);
	width: 100%;
	background: var(--main-bg-color);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
  
.App-intro {
	font-size: large;
}
  
.App-footer {
	background-color: #222;
	height: 30px;
	text-align: right;
	padding: 8px;
}

.unknown {
	display: flex;
    align-items: center;
    font-size: 5em;
    justify-content: center;
    height: calc(100vh - 67px);
}

.flex {
	display: flex;
}

.pagination {
    margin: 10px 0;
}

.pagination>li>a,
.pagination>li>span {
	color: var(--main-color);
    background-color: transparent;
	border: 0;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
	z-index: 2;
	cursor: pointer;
	color: var(--main-hover-color);
    background-color: transparent;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
	color: var(--main-title-color);
    cursor: pointer;
	background-color: transparent;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover,
.pagination>.disabled>span>i:hover,
.pagination>.disabled>a>i:hover {
    color: #777;
    cursor: not-allowed;
    background-color: transparent;
}